@import url('https://fonts.googleapis.com/css?family=Righteous|Ubuntu&display=swap');
html,body{
	height:100%;
	width:100%;
	font-family:'Righteous',cursive;
	color:#222;
	margin-top:1.3rem;
}
.this hr{
	border-top:1px solid #333;
	width:65%;
}
.navbar{ 
	padding: 0.2rem;
	background-color:#303030; 
}
.navbar-nav li{
	padding-left: 20px; 
}
.nav-link{
	font-size: 0.9em !important;
	font-family: 'Ubuntu',sans-serif;
}
.padding {
	padding-bottom: 2rem;
}
.welcome{
	background-color:#333;
	padding-x:0rem;
	padding-top:5rem;
	padding-bottom:5rem;
}
.welcome h3{
	color:white;
	font-family: 'Ubuntu',sans-serif;
	font-size:1.5rem;
}
.welcome h1{
	color:#BFFF6D;
}

.social a{
	font-size:1.8rem;
	padding:.4rem;
}
.fa-github{
	color:#ffffff;
}
.fa-twitter{
	color:#1da1f2;
}



.educ{
	margin-left: 6rem;
	margin-right: 6rem;
	font-family: 'Ubuntu',sans-serif;
}
.education h3{
	font-size:1.7rem;
}
.education h5{
	font-size:1rem;
}


.fa-code{
	color:#e54d26;
}
.fa-html5{
	color:#f16529;
}
.fa-css3{
	color:#2163af;
}
.fa-bold{
	color:#563d7c;
}
.fa-js-square{
	color:#f0db4f;
}
.fa-node-js{
	color:#68a063;
}
.fa-blogger{
	color:#ff5722;
}
.fa-paragraph{
	color:#003366;
}
.fa-envira{
	color:#4db33d;
}
.fa-ubuntu{
	color:#dd4814;
}
.fa-code,.fa-html5,.fa-css3,.fa-bold,.fa-js-square,.fa-node-js,.fa-blogger,.fa-paragraph,.fa-envira,.fa-ubuntu{
	font-size:3em;
	margin:1rem;
}

.Hobbies h4{
	font-family: 'Ubuntu',sans-serif;
}
.skill h4{
	font-family: 'Ubuntu',sans-serif;
}
footer{
	margin:0;
	padding-top: 0.3rem;
	background-color: #333;
	color:white;
	font-family: 'Ubuntu',sans-serif;
	font-size: 0.8rem;
}